body {
    margin:0;
    font-family: 'Arial';
    background: black;
    color:white;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}
.inner {
    width: 90%;
    margin: 0px auto;
    position: relative;
}
.title {
    font-size:50px;
    text-decoration: overline;
    text-decoration: underline;
    margin:0px;
    color:red;
}
.img-fit {
    height:auto;
    width:100%;
    object-fit: cover;
}
.ul-cleargap {
    list-style: none;
    padding:0px;
    display:flex;
}

